@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
.slideshow {
  position: relative;
  width: 100%;
  max-height: 100%; 
  overflow: hidden;
}

.slideshow-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slideshow-slide.active {
  opacity: 1;
}
.slideshow-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-slide img {
  max-width: 1000%;
  max-height: 100%;
  object-fit: contain;
}
.carousel {
  max-height: 1300px; /* Adjust the maximum height according to your preference */
}

.carousel-item img {
  object-fit: cover;
  max-height: 60%;
  width: 100%;
  bottom: 20px
}
.carousel-caption {
  position: absolute;
  bottom: 0px; /* Adjust the distance from the bottom according to your preference */
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
}

.background-section {
  background-image: url('./media/bn8.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(1.0) contrast(1.2);
  transition: filter 0.5s ease-in-out;
}

.background-back {
  background-image: url('https://shorturl.at/eiACK');
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

.background-image{
  background-image: url('./media/bn7.png');
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
.client-logo {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
}
.member-card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.member-image img {
  transition: transform 0.3s ease;
}

.member-card:hover .member-image img {
  transform: scale(1.1);
}

.member-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.member-card:hover .member-details {
  opacity: 1;
}

.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 5%;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.client-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  position: relative;
}

.client-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.client-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  padding: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.client-item:hover .client-info {
  opacity: 100;
  visibility: visible;
 
  
}


.sparky-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.sparky-card:before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #ffcc00, #ff9900, #ff6699, #cc66cc, #6699ff, #00ccff);
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sparky-card:hover {
  transform: scale(1.5);
}

.sparky-card:hover:before {
  opacity: 1;
}

@keyframes colorChange {
  0% {
    color: purple;
  }
  50% {
    color: red;
  }
  100% {
    color: yellowgreen;
  }
}

.animated-word {
  animation: colorChange 7s infinite;
}

.amazing-heading {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  margin-bottom: 20px;
  /* Add more styles as desired */
}
.amazing-p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: lowercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  margin-bottom: 30px;
  /* Add more styles as desired */
}

@media (max-width: 768px) {
  .carousel-item-container .carousel-caption {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel-item-container .carousel-caption .carousel-item-image {
   
    margin-left: 0;
    margin-top: 0;
  }
}











